
.bodySplit {
    display: flex;
    flex-wrap: wrap;
    margin-top: 11vh;
}

.fillLightRed {
    color: rgb(255, 69, 85);
}

.toTheLeft {
    text-align: left;
    width: 150%;
    margin-top: 40px;
}

.costomFontFamily {
    font-family: unset;
    font-weight: bold;
}

.costomFontFamily2 {
    font-family: unset;
    font-weight: bold;
    font-size: 20px;
}

.customFontFamily3 {
    font-size: 125px;
    font-weight: bold;
    font-family: inherit;
    vertical-align: top;
    margin-top: 8%;
}

.customFontFamily4 {
    font-weight: bold;
    font-size: 350px;
    margin-top: -100px;
}

.customMainFontSize {
    font-size: 45px;
}

.toTheRight {
    text-align: left;
}

.displayInOneLine {
    display: inline-flex;
}

.toCenter {
    text-align: center;
    font-size: 30px;
    height: 35px;
}

.customMargin {
    margin-left: 24px;
    margin-right: 24px;
}

.customMargin {
    margin-left: 20px;
}

.inlinePosition {
    display: inline-flex;
}

.leftSide {
    font-size: 85px;
    margin-top: 10px;
    margin-bottom: 30%;
    text-align: left;
}

.customFontSize {
    font-size: 60px;
    font-weight: 600;
}

#highlightedButton {
    margin-top: 22px;
    width: 300px;
    height: 60px;
    text-align: center;
    background-color: rgb(255, 69, 85);
    border: none;
}

#highlightedButton:hover {
    background-color: rgb(255, 27, 46);
}

.arrow-right {
    margin-top: 4%;
    width: 0; 
    height: 0; 
    margin-bottom: 1%;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    
    border-left: 15px solid rgb(255, 69, 85);
}

.arrow-left {
    margin-top: 4%;
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 

    border-right:15px solid rgb(255, 69, 85); 
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid rgb(255, 156, 164);
    display: inline-block;
    margin-left: 60px;
  }

.lowerText {
    margin-top: 3%;
}

.lowerText2{
    position: absolute;
    margin-top: 2.7%;
    margin-left: 4.5%;    
}

.square {
    width: 140px;
    height: 50px;
    background: rgb(255, 156, 164);
}
/*
 * Base structure
 */
.objectsToMiddle {
    text-align: left;
    margin-left: 34%;
}

@supports (-moz-appearance: none) {
    .customFontFamily3 {
        font-size: 125px;
        font-weight: bold;
        font-family: inherit;
        vertical-align: top;
        margin-top: 25px;
    }
}

/* Padding for spacing */
.inner {
  padding: 10px;
}
@media (min-width: 768px) {
    .bodySplit {
         display: flex;
         flex-wrap: nowrap;
    }
    .toTheRight {
        text-align: right;
    }
}

@media (min-width: 1520px) {
    .bodySplit {
        margin-top: 20vh;
    }
	@supports (-moz-appearance:none) {
		.bodySplit {
			margin-top: 10vh;
		}
  }
}