<div class="inner cover bodySplit">
    <div class="toTheLeft">
      <h1 class="costomFontFamily customMainFontSize">New Year Offer</h1>
      <h1 class="costomFontFamily customMainFontSize"><span class="fillLightRed costomFontFamily customMainFontSize">82%
          OFF</span> Web Hosting</h1>
      <div class="displayInOneLine">
        <div class="arrow-right"></div>
        <div class="customMargin">
          <div class="toCenter costomFontFamily">00</div>
          <div class="costomFontFamily">DAYS</div>
        </div>
        <div class="customMargin">
          <div class="toCenter costomFontFamily">16</div>
          <div class="costomFontFamily">HOURS</div>
        </div>
        <div class="customMargin">
          <div class="toCenter costomFontFamily">18</div>
          <div class="costomFontFamily">MINUTES</div>
        </div>
        <div class="customMargin">
          <div class="toCenter costomFontFamily">29</div>
          <div class="costomFontFamily">SECONDS</div>
        </div>
        <div class="arrow-left"></div>
      </div>
      <p><a id="highlightedButton" class="btn btn-lg btn-info ">
          <div class="lowerText">GET STARTED NOW</div>
        </a></p>
    </div>
    <div class="col-md-6 toTheRight">

      <div class="objectsToMiddle">
        <div class="square costomFontFamily2">
          <div class="lowerText2">SAVE 82%</div>
        </div>
        <div class="arrow-down"></div>
      </div>
      <div class="inlinePosition">
        <span class="customFontFamily3">$</span>
        <span class="customFontFamily4">1</span>
        <span class="customFontSize">
          <div class="leftSide">45</div>
          <div>&nbsp;/mo</div>
        </span>
      </div>
    </div>
  </div>