<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand"><img src="/assets/logo.png" width="150" height="28"></h3>
    <ul class="nav masthead-nav">
      <li>
        <a>WEB HOSTING</a>
      </li>
      <li>
        <a>
          <div class="toolbarTextAbove">ON SALE</div>
          CLOUD HOSTING
        </a>
      </li>
      <li>
        <a>VPS HOSTING</a>
      </li>
      <li>
        <a>VPS HOSTING</a>
      </li>
      <li>
        <a>DOMAIN CHECKER</a>
      </li>
      <li>
        <a>WEBSITE BUILDER</a>
      </li>
    </ul>
  </div>
</div>