<div id="main">
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <toolbar></toolbar>
                <content></content>
                <footer></footer>
            </div>
        </div>
    </div>
</div>